*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
h1{
    font-weight: bold;
    color: #ffffff;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.body_mje{
height: 100%;
background-color: rgb(188, 216, 112);
}
.mje_contenido{
    width: 100%;
    height: 60vh;
    overflow: auto;
    direction: ltr;
    padding: 10px;
    background-color: rgb(243, 248, 243);
    border-radius: 10px;
}
.mje_contenido p strong{
    line-height: normal;
    max-width:120px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid rgb(188, 216, 112);
}
.mje_contenido p {
    line-height: normal;
    width: 100%;
    margin-bottom: 5px;
}
.mje_contenido span.txt_contenido{
    word-break: break-all;

}

@media (min-width: 768px) {
    .form-control{
        width: 49%;
    }
    .campos_inputs{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
  }